Customer Support service/Customer Support service.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "cb879651-00b3-498b-a311-b6a7ae6f016f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "4XHlBHNQbx1l0txD",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc7fcd2f-964a-4325-ac16-5acd37c7c41f",
              "name": "Body",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "b0de89ac-2b05-4b6d-b841-827c8d3fde3f",
      "name": "Email Content"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        224
      ],
      "id": "da148e81-7580-4cfa-a5c9-0a6709534525",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tHNkBCXX1laeNVl3",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96c8427a-3e4a-4ac1-bf2a-c9b7ba9e132a",
              "name": "label",
              "value": "={{ $json.output.parseJson().category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ],
      "id": "bc9a33de-9e03-4749-b5ad-def7e0b0a010",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please classify the following input text according to the required JSON schema. \n\nYou must classify the text into exactly one of these two categories:\n1. \"promotional\" (if the text is an advertisement, offer, discount, or marketing content).\n2. \"support service\" (if the text is a customer support request, complaint, inquiry, or technical issue).\n\nInput Text to analyze:\n{{ $json.Body }}\n\nRemember: Your response must be a valid JSON object matching the requested schema. Do not include markdown formatting (like ```json), do not include explanations, and do not add any extra text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        0
      ],
      "id": "d7cf8614-bafd-43c7-86b1-0c58d0725c9c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.label }}",
                    "rightValue": "promotional",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "33cd705a-74ec-4552-ae7c-39da2701ba80"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "promotional"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2d05d074-f5c9-4781-a756-c20e9ab58e80",
                    "leftValue": "={{ $json.label }}",
                    "rightValue": "support service",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Support-service"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1104,
        0
      ],
      "id": "0bef085d-d352-4d05-8a7c-b332a127d492",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=email received from:{{ $('Gmail Trigger').item.json.From }}\n\nemail content:{{ $('Email Content').item.json.Body }}",
        "options": {
          "systemMessage": "#Overview\nYou are a helpful assistant that answers any inquiries for our e commerce store called mo e-commerce .You will be drafting email replies for the incoming queries that come through.\n\n##Tools\nVector_store - This tool will be used to help us answer any incoming queries from users\nemail_draft - This tool will be used to draft any emails back to the user. Make sure to use the Vector_store before using this tool\n\n##Rules\n- ALWAYS use Vector_store before answering and drafting any emails\n- ALWAYS draft an email with an answer\n\n##Extra information\nMy name is ’Mohamed\n- Make sure to include that when drafting the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1472,
        16
      ],
      "id": "c9df8e09-3f46-4cc1-9b86-e245601139a7",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1d38Mk6E31PnZWFoFzrkh-OewvaiggtZ_",
          "mode": "list",
          "cachedResultName": "e-commerce support service",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1d38Mk6E31PnZWFoFzrkh-OewvaiggtZ_"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        800,
        -736
      ],
      "id": "a6dca96c-1873-4cbf-b369-a49277fb36e4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5kvf0AnltUeXBilj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1008,
        -736
      ],
      "id": "1dd0ed70-266a-4949-b139-942834030575",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5kvf0AnltUeXBilj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1216,
        -736
      ],
      "id": "a758cb28-499a-4137-aac1-99fca19d37c1",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "vo1vOm4M2Fss0WzA",
          "name": "support service"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1184,
        -512
      ],
      "id": "fe07bc1b-279f-4d94-8d08-cc0b4f92373b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tHNkBCXX1laeNVl3",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1360,
        -528
      ],
      "id": "7a35eaa1-69c0-4a98-8852-3735115ce773",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve from supabase",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": null,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1456,
        256
      ],
      "id": "49715ad2-ab9b-489e-a28f-39fd93c8a153",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "vo1vOm4M2Fss0WzA",
          "name": "support service"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1824,
        256
      ],
      "id": "8f2fa26c-f5c5-4784-b563-757d7f7db34d",
      "name": "Create a draft in Gmail",
      "webhookId": "db60bc5f-7008-4f3e-bb64-a87875d93947",
      "credentials": {
        "gmailOAuth2": {
          "id": "4XHlBHNQbx1l0txD",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        448
      ],
      "id": "efc522dd-f63e-4588-8768-e361561f81d4",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "tHNkBCXX1laeNVl3",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1344,
        224
      ],
      "id": "ebe346b2-e996-448a-8d6a-02e4203f2086",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "tHNkBCXX1laeNVl3",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8967848009",
        "text": "=new message rceived from:{{ $('Gmail Trigger').item.json.From }}\n\nAbout:{{ $('Gmail Trigger').item.json.Subject }}\n\nAction:new message drafted",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1824,
        16
      ],
      "id": "6fe4e0a2-c5e3-44cd-be82-7ebe4393c3af",
      "name": "Send a text message",
      "webhookId": "a1696a6b-b096-4f37-bd59-d51f37dbb649"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Content": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "04c8a628-fe3d-4003-bcf5-319c0e72941a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4cc0a35f9e4bfa795297ee13a78396f594dd4cdd656cffffcfa1249b015ba6a8"
  },
  "nodeGroups": [],
  "id": "ujY3ajZCXWj2E81N",
  "tags": []
}